<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>prosibum</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>org.reactjs.native.example.$(PRODUCT_NAME)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.pikopack.$(PRODUCT_NAME)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_NAME)</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) app requires access to the photo library.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Display-Black.ttf</string>
		<string>SF-Pro-Display-BlackItalic.ttf</string>
		<string>SF-Pro-Display-Bold.ttf</string>
		<string>SF-Pro-Display-BoldItalic.ttf</string>
		<string>SF-Pro-Display-Heavy.ttf</string>
		<string>SF-Pro-Display-HeavyItalic.ttf</string>
		<string>SF-Pro-Display-Light.ttf</string>
		<string>SF-Pro-Display-LightItalic.ttf</string>
		<string>SF-Pro-Display-Medium.ttf</string>
		<string>SF-Pro-Display-MediumItalic.ttf</string>
		<string>SF-Pro-Display-Regular.ttf</string>
		<string>SF-Pro-Display-RegularItalic.ttf</string>
		<string>SF-Pro-Display-Semibold.ttf</string>
		<string>SF-Pro-Display-SemiboldItalic.ttf</string>
		<string>SF-Pro-Display-Thin.ttf</string>
		<string>SF-Pro-Display-ThinItalic.ttf</string>
		<string>SF-Pro-Display-Ultralight.ttf</string>
		<string>SF-Pro-Display-UltralightItalic.ttf</string>
		<string>SF-Pro-Text-Bold.ttf</string>
		<string>SF-Pro-Text-BoldItalic.ttf</string>
		<string>SF-Pro-Text-Heavy.ttf</string>
		<string>SF-Pro-Text-HeavyItalic.ttf</string>
		<string>SF-Pro-Text-Light.ttf</string>
		<string>SF-Pro-Text-LightItalic.ttf</string>
		<string>SF-Pro-Text-Medium.ttf</string>
		<string>SF-Pro-Text-MediumItalic.ttf</string>
		<string>SF-Pro-Text-Regular.ttf</string>
		<string>SF-Pro-Text-RegularItalic.ttf</string>
		<string>SF-Pro-Text-Semibold.ttf</string>
		<string>SF-Pro-Text-SemiboldItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
